$spacing: .5rem;
$player-ratio: 1280 / 720;
$break-desktop: 420px;

$font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-size: 14px;

$player-background-color: #eee;
$link-color: #36c;
$button-color: #eee;
$black: #000;
